system.file_allocate.set = yes 
system.umask.set = 022
directory = /root/downloads
session = /root/sessions
set_max_file_size = 536870912000
schedule = watch_directory,0,10,"load_start=/root/watch/*.torrent"

## Network
ip = 0.0.0.0
port_range = 10000-19999
port_random = yes

## BitTorrent
min_peers = 20
max_peers = 100
min_peers_seed = 10
max_peers_seed = 100
max_uploads = 40
encryption = require,require_RC4,allow_incoming,enable_retry

## Schedules
schedule = low_diskspace,5,60,close_low_diskspace=500M

##Logging
log.open_file = "rtorrent", /var/log/rtorrent.log
log.add_output = "debug", "rtorrent"
#log.add_output = "tracker_info", "rtorrent"
#log.add_output = "dht_info", "rtorrent"
#log.add_output = "thread_debug", "rtorrent"
